@import "tailwindcss";

/* theme: {
  extend: {
    colors: {
      primary: {
        100: "#e6cdf8",
        200: "#ce9bf1",
        300: "#b569ea",
        400: "#9d37e3",
        500: "#8405dc",
        600: "#6a04b0",
        700: "#4f0384",
        800: "#350258",
        900: "#1a012c",
      },
    },
  },
}, */

@layer components {
  .after-line {
    position: relative; 
  }

  .after-line::after {
    content: "";
    position: absolute; 
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    opacity: 0.3;
    margin: 0 auto;
    background-color: theme(colors.purple.50);
  }
}

